USE [MySMTPProgect]
GO
/****** Object:  ForeignKey [FK_RecipientListsRelation_RecipientLists]    Script Date: 08/30/2017 18:47:27 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RecipientListsRelation_RecipientLists]') AND parent_object_id = OBJECT_ID(N'[dbo].[RecipientListsRelation]'))
ALTER TABLE [dbo].[RecipientListsRelation] DROP CONSTRAINT [FK_RecipientListsRelation_RecipientLists]
GO
/****** Object:  ForeignKey [FK_RecipientListsRelation_Recipients]    Script Date: 08/30/2017 18:47:27 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RecipientListsRelation_Recipients]') AND parent_object_id = OBJECT_ID(N'[dbo].[RecipientListsRelation]'))
ALTER TABLE [dbo].[RecipientListsRelation] DROP CONSTRAINT [FK_RecipientListsRelation_Recipients]
GO
/****** Object:  StoredProcedure [dbo].[sp_getRecipientCountByListId]    Script Date: 08/30/2017 18:47:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_getRecipientCountByListId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_getRecipientCountByListId]
GO
/****** Object:  StoredProcedure [dbo].[sp_getRecipientsByListId]    Script Date: 08/30/2017 18:47:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_getRecipientsByListId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_getRecipientsByListId]
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveConfiguredRecipientList]    Script Date: 08/30/2017 18:47:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SaveConfiguredRecipientList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_SaveConfiguredRecipientList]
GO
/****** Object:  Table [dbo].[RecipientListsRelation]    Script Date: 08/30/2017 18:47:27 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RecipientListsRelation_RecipientLists]') AND parent_object_id = OBJECT_ID(N'[dbo].[RecipientListsRelation]'))
ALTER TABLE [dbo].[RecipientListsRelation] DROP CONSTRAINT [FK_RecipientListsRelation_RecipientLists]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RecipientListsRelation_Recipients]') AND parent_object_id = OBJECT_ID(N'[dbo].[RecipientListsRelation]'))
ALTER TABLE [dbo].[RecipientListsRelation] DROP CONSTRAINT [FK_RecipientListsRelation_Recipients]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RecipientListsRelation]') AND type in (N'U'))
DROP TABLE [dbo].[RecipientListsRelation]
GO
/****** Object:  Table [dbo].[Recipients]    Script Date: 08/30/2017 18:47:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Recipients]') AND type in (N'U'))
DROP TABLE [dbo].[Recipients]
GO
/****** Object:  Table [dbo].[Templates]    Script Date: 08/30/2017 18:47:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Templates]') AND type in (N'U'))
DROP TABLE [dbo].[Templates]
GO
/****** Object:  UserDefinedTableType [dbo].[udtIntArray]    Script Date: 08/30/2017 18:47:28 ******/
IF  EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'udtIntArray' AND ss.name = N'dbo')
DROP TYPE [dbo].[udtIntArray]
GO
/****** Object:  Table [dbo].[MailSettings]    Script Date: 08/30/2017 18:47:27 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_MailSettings_EnableSSL]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MailSettings] DROP CONSTRAINT [DF_MailSettings_EnableSSL]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MailSettings]') AND type in (N'U'))
DROP TABLE [dbo].[MailSettings]
GO
/****** Object:  Table [dbo].[RecipientLists]    Script Date: 08/30/2017 18:47:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RecipientLists]') AND type in (N'U'))
DROP TABLE [dbo].[RecipientLists]
GO
/****** Object:  Table [dbo].[RecipientLists]    Script Date: 08/30/2017 18:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RecipientLists]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RecipientLists](
	[rlId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_RecipientLists] PRIMARY KEY CLUSTERED 
(
	[rlId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[RecipientLists] ON
INSERT [dbo].[RecipientLists] ([rlId], [Name], [Description]) VALUES (1, N'All', N'All Contacts')
INSERT [dbo].[RecipientLists] ([rlId], [Name], [Description]) VALUES (2, N'Cycles', N'All CyclesUser')
INSERT [dbo].[RecipientLists] ([rlId], [Name], [Description]) VALUES (3, N'Guitars', N'AllGuitarsUser')
SET IDENTITY_INSERT [dbo].[RecipientLists] OFF
/****** Object:  Table [dbo].[MailSettings]    Script Date: 08/30/2017 18:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MailSettings]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MailSettings](
	[MailSettingsId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](200) NULL,
	[SMTP] [nvarchar](200) NOT NULL,
	[SMTPPort] [nvarchar](200) NOT NULL,
	[Pop3] [nvarchar](200) NULL,
	[Pop3Port] [nvarchar](200) NULL,
	[EnableSSL] [bit] NOT NULL CONSTRAINT [DF_MailSettings_EnableSSL]  DEFAULT ((0)),
	[Imap] [nvarchar](200) NULL,
	[ImapPort] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_MailSettings] PRIMARY KEY CLUSTERED 
(
	[MailSettingsId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_MailSettings] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[MailSettings] ON
INSERT [dbo].[MailSettings] ([MailSettingsId], [Email], [Password], [SMTP], [SMTPPort], [Pop3], [Pop3Port], [EnableSSL], [Imap], [ImapPort], [Description]) VALUES (1, N'artmagnus884@gmail.com', N'zaq147xsw258', N'smtp.gmail.com', N'587', NULL, NULL, 1, N'imap.gmail.com', N'993', N'Secondary configuration to send messages')
INSERT [dbo].[MailSettings] ([MailSettingsId], [Email], [Password], [SMTP], [SMTPPort], [Pop3], [Pop3Port], [EnableSSL], [Imap], [ImapPort], [Description]) VALUES (2, N'artimag666@gmail.com', N'93meGArul03', N'smtp.gmail.com', N'587', NULL, NULL, 1, N'imap.gmail.com', N'993', N'Primary setting for email sending')
SET IDENTITY_INSERT [dbo].[MailSettings] OFF
/****** Object:  UserDefinedTableType [dbo].[udtIntArray]    Script Date: 08/30/2017 18:47:28 ******/
IF NOT EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'udtIntArray' AND ss.name = N'dbo')
CREATE TYPE [dbo].[udtIntArray] AS TABLE(
	[Value] [int] NOT NULL
)
GO
/****** Object:  Table [dbo].[Templates]    Script Date: 08/30/2017 18:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Templates]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Templates](
	[TemplateId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Body] [nvarchar](max) NULL,
	[Thumbnail] [image] NULL,
 CONSTRAINT [PK_Templates] PRIMARY KEY CLUSTERED 
(
	[TemplateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Templates] ON
SET IDENTITY_INSERT [dbo].[Templates] OFF
/****** Object:  Table [dbo].[Recipients]    Script Date: 08/30/2017 18:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Recipients]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Recipients](
	[RecipientId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[SureName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Recipients] PRIMARY KEY CLUSTERED 
(
	[RecipientId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Recipients] ON
INSERT [dbo].[Recipients] ([RecipientId], [Email], [Name], [SureName]) VALUES (1, N'artanger@bigmir.net', N'qwe', N'rty')
INSERT [dbo].[Recipients] ([RecipientId], [Email], [Name], [SureName]) VALUES (2, N'artanger666@gmail.com', N'Arthur', N'Ivanov')
INSERT [dbo].[Recipients] ([RecipientId], [Email], [Name], [SureName]) VALUES (3, N'big-maining@bigmir.net', N'qwer', N'qwerty')
SET IDENTITY_INSERT [dbo].[Recipients] OFF
/****** Object:  Table [dbo].[RecipientListsRelation]    Script Date: 08/30/2017 18:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RecipientListsRelation]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RecipientListsRelation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[rlId] [int] NOT NULL,
	[rId] [int] NOT NULL,
 CONSTRAINT [PK_RecipientListsRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[RecipientListsRelation] ON
INSERT [dbo].[RecipientListsRelation] ([Id], [rlId], [rId]) VALUES (12, 4, 3)
INSERT [dbo].[RecipientListsRelation] ([Id], [rlId], [rId]) VALUES (15, 4, 5)
INSERT [dbo].[RecipientListsRelation] ([Id], [rlId], [rId]) VALUES (19, 4, 5)
SET IDENTITY_INSERT [dbo].[RecipientListsRelation] OFF
/****** Object:  StoredProcedure [dbo].[sp_SaveConfiguredRecipientList]    Script Date: 08/30/2017 18:47:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SaveConfiguredRecipientList]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[sp_SaveConfiguredRecipientList]
(
	@listId int,
	@ids dbo.udtIntArray readonly
)	
AS
BEGIN
	BEGIN TRAN
		delete from RecipientListsRelation where rlId = @listId
		insert into RecipientListsRelation select @listId as rlId, [Value] as rId from @ids
	COMMIT;
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getRecipientsByListId]    Script Date: 08/30/2017 18:47:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_getRecipientsByListId]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[sp_getRecipientsByListId]
(
	@rlId int 
)
AS
select
	r.RecipientId,
	r.Email,
	1 as Selected
from Recipients r 
	join RecipientListsRelation rlr on r.RecipientId = rlr.rId
	join dbo.RecipientLists rl on rlr.rlId = rl.rlId
where rl.rlId = @rlId

union  

select
	rr.RecipientId, 
	rr.Email, 
	0 as Selected
from Recipients rr 
where rr.RecipientId NOT in
(
	select
		r.RecipientId
	from Recipients r 
		join RecipientListsRelation rlr on r.RecipientId = rlr.rId
		join dbo.RecipientLists rl on rlr.rlId = rl.rlId
	where rl.rlId = @rlId
)' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getRecipientCountByListId]    Script Date: 08/30/2017 18:47:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_getRecipientCountByListId]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[sp_getRecipientCountByListId]
(
	@rlId int 
)
AS
select
	count(r.RecipientId)

from Recipients r 
	join RecipientListsRelation rlr on r.RecipientId = rlr.rId
	join dbo.RecipientLists rl on rlr.rlId = rl.rlId
where rl.rlId = @rlId' 
END
GO
/****** Object:  ForeignKey [FK_RecipientListsRelation_RecipientLists]    Script Date: 08/30/2017 18:47:27 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RecipientListsRelation_RecipientLists]') AND parent_object_id = OBJECT_ID(N'[dbo].[RecipientListsRelation]'))
ALTER TABLE [dbo].[RecipientListsRelation]  WITH CHECK ADD  CONSTRAINT [FK_RecipientListsRelation_RecipientLists] FOREIGN KEY([rlId])
REFERENCES [dbo].[RecipientLists] ([rlId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RecipientListsRelation_RecipientLists]') AND parent_object_id = OBJECT_ID(N'[dbo].[RecipientListsRelation]'))
ALTER TABLE [dbo].[RecipientListsRelation] CHECK CONSTRAINT [FK_RecipientListsRelation_RecipientLists]
GO
/****** Object:  ForeignKey [FK_RecipientListsRelation_Recipients]    Script Date: 08/30/2017 18:47:27 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RecipientListsRelation_Recipients]') AND parent_object_id = OBJECT_ID(N'[dbo].[RecipientListsRelation]'))
ALTER TABLE [dbo].[RecipientListsRelation]  WITH CHECK ADD  CONSTRAINT [FK_RecipientListsRelation_Recipients] FOREIGN KEY([rId])
REFERENCES [dbo].[Recipients] ([RecipientId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RecipientListsRelation_Recipients]') AND parent_object_id = OBJECT_ID(N'[dbo].[RecipientListsRelation]'))
ALTER TABLE [dbo].[RecipientListsRelation] CHECK CONSTRAINT [FK_RecipientListsRelation_Recipients]
GO
