<div class="jumbotron">
    <h1>Easy Sendler</h1>
    <p class="lead">Дипломная работа на тему "Разработка интернет ресурса массового отправления электронных писем на технологии Asp.Net MVC."</p>
    <p>@Html.ActionLink(HttpUtility.HtmlDecode("Details &raquo;"), "Contact", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>