@{
    ViewBag.Title = "Contact";
}

@Html.Partial("_HomeJumbotron")
<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-3"></div>
            <div class="col-md-6 col-lg-5 col-xs-12 col-sm-6">
                <div class="panel panel-default my_panel">
                    <div class="panel-body">
                        <img src="~/img/3256021492_5af2b3fa98_b.jpg" class="img-responsive"/>
                        <img src="~/img/NTiSHicLAWo.jpg" class="img-thumbnail size padding invisible-border">
                        <div class="text-center">
                            <h5 class="panel-title">Arthur Ivanov</h5>
                            <p>Asp.Net developer </p>
                            <a href="mailto:artimag666@gmail.com">artimag666@gmail.com</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-3"></div>
            </div>
    </div>
</div>
