@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Easy Sendler</h1>
    <p class="lead">Курсовая работа на тему "Разработка интернет ресурса массового отправления электронных писем на технологии Asp.Net MVC."</p>
    <p>@Html.ActionLink(HttpUtility.HtmlDecode("Details &raquo;"), "Contact", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="thumbnail card">
            <div class="caption">
                <span class="glyphicon glyphicon-list-alt glyphicon-big"></span>
            </div>
            <div class="caption">
                <h1>What</h1>
                <p class="description">What - means "Templates": it is content that we will send in our e-mails.</p>
                <div >
                    @Html.ActionLink(HttpUtility.HtmlDecode("Details &raquo;"), "Index", "Templates", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="thumbnail card">
            <div class="caption">
                <span class="glyphicon glyphicon-envelope glyphicon-big"></span>
            </div>
            <div class="caption">
                <h1>To</h1>
                <p class="description">
                    To - means "Recipients" and "Recipient Lists":
                    "Recipient": the person to send e-mail <br/>
                    "Recipient List": List of persons created for any reason
                </p>
                <div >
                    @Html.ActionLink(HttpUtility.HtmlDecode("Details &raquo;"), "Index", "Recipients", null, new {@class = "btn btn-primary"})
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="thumbnail card">
            <div class="caption">
                <span class="glyphicon glyphicon-cog glyphicon-big"></span>
            </div>
            <div class="caption" >
                <h1>How</h1>
                <p class="description">
                    How - means "Mail Settings": it is settings for email delivery
                </p>
            </div>
            <div  >
                @Html.ActionLink(HttpUtility.HtmlDecode("Details &raquo;"), "Index", "MailSettings", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>