@{
    ViewBag.Title = "ConfigureList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfigureList</h2>

<div class="no-gutters">
    <div class="col">
        <select id="ddlRecipientLists" class="ddl-select2-source"
                data-tags="false" data-placeholder="Select an option" data-allow-clear="true"
                data-ajax--url="@Url.Action("GetRecipientListForDropDown", "RecipientLists")" data-ajax--cache="true"
                data-recipients-to-configure-url="@Url.Action("GetRecipientsToConfigure", "RecipientLists")"
                data-save-configured-list-url="@Url.Action("SaveConfiguredList", "RecipientLists")">
        </select>
    </div>
</div>
<div class="no-gutters">
    <div class="col">
        <select multiple="multiple" size="10" id="dlbRecipients"></select>
        <br>
        <button type="submit" class="btn btn-primary" id="btnSave">Save data</button>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/additionaljq")
    <script type="text/javascript">
        $(document).ready(function () { new ConfigureRecipientList(); });
    </script>
}