@{
    ViewBag.Title = "Configure List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Configure Recipients Lists</h2>

<div class="no-gutters">
    <div class="alert alert-info" role="alert">Select the Recipient List from dropdown below to further configuration</div>
    <div class="col">
        <select id="ddlRecipientLists" class="ddl-select2-source"
                data-tags="false" data-placeholder="Select an option" data-allow-clear="true"
                data-ajax--url="@Url.Action("GetRecipientListForDropDown", "RecipientLists")" data-ajax--cache="true"
                data-recipients-to-configure-url="@Url.Action("GetRecipientsToConfigure", "RecipientLists")"
                data-save-configured-list-url="@Url.Action("SaveConfiguredList", "RecipientLists")">
        </select>
    </div>
</div>
<hr/>
<div class="no-gutters">
    <div class="alert alert-info" role="alert">Select Recipients for selected Recipient List</div>
    <div class="col">
        <select multiple="multiple" size="10" id="dlbRecipients"></select>
    </div>
</div>
<hr/>
<button type="submit" class="btn btn-primary" id="btnSave">Save data</button>
@section Scripts {
    @Scripts.Render("~/bundles/additionaljq")
    <script type="text/javascript">
        $(document).ready(function () { new ConfigureRecipientList(); });
    </script>
}