body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.select2-search__field {
    max-width: none;
}
.ddl-select2-source,
.bootstrap-duallistbox-container select.form-control {
    width: 150%;
    max-width: 100%;
}
.select2-results .option-item-name, .select2-selection .option-item-name {
    font-weight: bold;   
}
.select2-results .option-item-descr-title, .select2-selection .option-item-descr-title {
    font-weight: normal;
    font-size: 80%;
    font-style: italic;
    margin: 0 10px;
    color: grey;
}
.select2,
.select2-container,
.select2-container--default {
    max-width: 100%;
}
.template-link-entry {
    text-decoration: none;
    display: block;
    opacity: 0.7;
    transition: all 0.3s;
}
.template-link-entry:hover {
    text-decoration: none;
    opacity: 1;
}



